h2{
    color: brown;
    font-size: 50px;
    text-align: center;
}
body{
    background-color: rgb(243, 217, 217);
 
    
}
p{
    text-align: center;
    font-size: 50px;
    color: chocolate;
  
}
a{
    text-align: center;
}

div{
    
    text-align: center;
}